body{
    background-color: #F7F7F7;
    margin : 0 ;
    padding: 0;

}
@media (min-width: 451px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #FFFFFF;
        padding: 15px;
        position: sticky;
        top: 0;
        z-index: 1000;
        height: 50px;
      }
      
      .nav-menu {
          list-style: none;
          display: flex;
          place-items: center;
          font-size: 14pt;
      }
      
      .logo img {
        width: 200px;
        height: auto;
        position: relative;
        right: 550%;
        margin-top: 30%;
      }
      
      .nav-item {
          margin: 0 20px;
          position: relative; 
          left: 170%;
      }
      
      .nav-item a {
          text-decoration: none;
          color: black;
          padding: 10px;
      }
      
      /* Gaya dropdown */
      .dropdown {
          display: none;
          position: absolute;
          background-color: #FFFFFF; 
          list-style: none;
          padding: 10px;
          width: auto ; 
      }
      
      .nav-item:hover .dropdown {
          display: block; /* Dropdown menu akan terlihat saat mengarahkan kursor ke menu utama */
          width: auto; 
      }
      
      .dropdown li {
          padding: 10px;
          white-space: nowrap; 
      }
      
      .dropdown a {
          color: black;
          text-decoration: none;
      }
      
      .nav-item:hover a {
          background-color: wheat; /* Warna latar belakang saat hover */
      }

        .submitKButton {
            position: relative;
            background: #5aa96b;
            color: #FFFFFF;
            border: none;
            padding: 15px 50px;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            text-align: center;
            left: 200px;
        }

        .submitButton {
            position: relative;
            background: #5aa96b;
            color: #FFFFFF;
            border: none;
            padding: 15px 50px;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            text-align: center;
            left: 200px;
        }
    
        .page2{
            position: relative;
            margin-left: 20%;
            margin-top: 100px;
            margin-bottom: 300px;
        }
        .page2 {
            margin-left: 100px;
            width: 90%;
            height: 420px;
            background: #f7f7f7;
            border-radius: 25px;
            box-shadow: 10px 10px 8px #C0C0C0 , -10px -10px 8px #FFFFFF;
        }
    
        #KTextBox , #PBTextBox , #DYTextBox , #PTextBox {
            font-size: 12pt;
            width: 250px; 
            height: 20px;
        }
        #InputSection {
            position: absolute;
            width: 80%;
            margin-top: 3%;
            margin-left: 10%;
            font-size: 12pt;
            font-family: Arial, Helvetica, sans-serif;
          }
        #ResultSection {
            width: 50%;
            position: relative;
            margin-left: 50%;
            background-color: #5AA96B;
            color: #FFFFFF;
            border-radius: 100px 25px 25px 100px;
            height: 100%;
          }
        
        .hr1 {
            position: relative;
            width: 40%;
            color: #FFFFFF;
            font-size: 50px;
            top: 5%;
            left: 10%;
        }
        
        .L{
            width: 80%;
            position: relative;
            color: #FFFFFF;
            font-size: 20px;
            top: 3%;
            left: 10%;
        }
    .PohonHasil {
        position: relative;
        float: left;
        width: 50%;
        
    }
    @keyframes KoinJatuh {
            
        0% {
        transform: translateY(0);
        opacity: 100%;
        }
        100% {
        transform: translateY(200px);
        opacity: 0%;
        }}
    
    @keyframes KoinJatuhMerah {
        
        0% {
          transform: translateY(0);
          opacity: 100%;
        }
        100% {
          transform: translateY(400px);
          opacity: 0%;
    }}
    @keyframes Pohon {
      0% {
        transform: rotateZ(5deg);
      }
      100% {
        transform: rotateZ(-5deg);
      }}
    #koin-hijau-kiri , #koin-hijau-kanan {
        animation-delay: KoinJatuh 1s;
        animation: KoinJatuh 2s ease-in-out infinite;
    }
    #koin-hijau-kecil {
        animation: KoinJatuh 4s ease-in-out infinite;
    }
    #koin-merah {
        animation-delay: KoinJatuhMerah 1s;
        animation: KoinJatuhMerah 3s ease-in-out infinite;
        position: relative;
    }
    #pohon {
      animation: Pohon 2s linear infinite alternate;
      transform-origin: bottom;
      transform-box: fill-box;
    }
    #tanah {
        position: relative;
    }
    .h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 50px;
        margin-left: 47%;
        line-height: 65px;
    }
    .p1 , .p2 {
        width: 50%;
        text-align: justify;
        text-indent: 45px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        line-height: 25px;
        margin-left: 47%;
    }
    .submitLButton {
        position: relative;
        background: #5aa96b;
        color: #FFFFFF;
        border: none;
        padding: 15px 50px;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        text-align: center;
      }
}

@media (max-width: 450px) {
    .navbar {
        display: flex;
        align-items: center;
        background-color: #FFFFFF;
        padding: 1 em;
        position: sticky;
        top: 0;
        z-index: 1000;
        height: 5em;
        width: 100%;
      }
      
      .nav-menu {
          position: absolute;
          list-style: none;
          font-size: 90%;
          font-weight: bold;
          margin: 0 0em 0 0em;
          display: grid;
          grid-gap: 2em;
          grid-template-columns: repeat(2, 1fr);
      }
      .logo img {
        width: 37%;
        height: auto;
        position: relative;
        right: 0;
        margin-top: 3em;
      }
      .nav-item {
          position: relative; 
          margin-right: 1em;
          left: 9em;
          padding: 0em;
      }
      
      .nav-item a {
          text-decoration: none;
          color: black;
      }
      
      /* Gaya dropdown */
      .dropdown {
          display: none;
          position: absolute;
          background-color: #f7f7f7; 
          list-style: none;
          padding: 10px;
          width: auto ;
          right: 3em; 
          margin-top: 2em;
      }
      
      .nav-item:hover .dropdown {
          display: block; /* Dropdown menu akan terlihat saat mengarahkan kursor ke menu utama */
          width: auto; 
      }
      
      .dropdown li {
          padding: 10px;
          white-space: nowrap; 
      }
      
      .dropdown a {
          color: black;
          text-decoration: none;
      }
      
      .nav-item:hover a {
          background-color: wheat; /* Warna latar belakang saat hover */
      }

        .submitKButton , .submitButton {
            position: relative;
            background: #5aa96b;
            color: #FFFFFF;
            border: none;
            padding: 15px 50px;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            text-align: center;
        }

        .page2 {
            position: relative;
            margin: 1em;
            width: 90%;
            height: 700px;
            background: #f7f7f7;
            border-radius: 25px;
            box-shadow: 10px 10px 8px #C0C0C0 , -10px -10px 8px #FFFFFF;
        }
    
        #KTextBox , #PBTextBox , #DYTextBox , #PTextBox {
            font-size: 100%;
            width: 250px; 
            height: 20px;
        }
        #InputSection {
            position: relative;
            width: 90%;
            font-size: 130%;
            font-family: Arial, Helvetica, sans-serif;
            margin: 1em;
            top: 1em;
          }
        #ResultSection {
            width: 100%;
            position: relative;
            background-color: #5AA96B;
            color: #FFFFFF;
            border-radius: 100px 100px 25px 25px;
            height: 70%;
            margin-top: 2em;
          }
        
        .hr1 {
            position: relative;
            width: 40%;
            color: #FFFFFF;
            font-size: 300%;
            top: 5%;
            left: 10%;
        }
        
        .L{
            width: 80%;
            position: relative;
            color: #FFFFFF;
            font-size: 150%;
            top: 3%;
            left: 10%;
        }
    .PohonHasil {
        position: relative;
        width: 140%;
        margin: 0 0 2em -4em;
        
    }
    @keyframes KoinJatuh {
            
        0% {
        transform: translateY(0);
        opacity: 100%;
        }
        100% {
        transform: translateY(200px);
        opacity: 0%;
        }}
    
    @keyframes KoinJatuhMerah {
        
        0% {
          transform: translateY(0);
          opacity: 100%;
        }
        100% {
          transform: translateY(400px);
          opacity: 0%;
    }}
    @keyframes Pohon {
      0% {
        transform: rotateZ(5deg);
      }
      100% {
        transform: rotateZ(-5deg);
      }}
    #koin-hijau-kiri , #koin-hijau-kanan {
        animation-delay: KoinJatuh 1s;
        animation: KoinJatuh 2s ease-in-out infinite;
    }
    #koin-hijau-kecil {
        animation: KoinJatuh 4s ease-in-out infinite;
    }
    #koin-merah {
        animation-delay: KoinJatuhMerah 1s;
        animation: KoinJatuhMerah 3s ease-in-out infinite;
        position: relative;
    }
    #pohon {
      animation: Pohon 2s linear infinite alternate;
      transform-origin: bottom;
      transform-box: fill-box;
    }
    #tanah {
        position: relative;
    }
    .h1 {
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 200%;
        margin-left: 10%;
        margin-top: -20%;
        line-height: 30px;
    }
    .p1 , .p2{
        position: inherit;
        width: 80%;
        text-align: justify;
        text-indent: 45px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 120%;
        line-height: 25px;
        margin: 0em 1em 1em 2em;

    }
    .p1 {
        margin: 0em 1em 1em 2em;
    }
    .submitLButton {
        position: relative;
        background: #5aa96b;
        color: #FFFFFF;
        border: none;
        padding: 15px 50px;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        margin: 1em 0em 2em 6em;
      }
}
